services:
  web:
      build: .
      container_name: milliavod
      env_file: 
        - .prod.env
      restart: unless-stopped
      depends_on: 
        - db
  db:
      image: mariadb:latest
      container_name: mysql
      env_file:
        - .db.env
      restart: unless-stopped
      volumes: 
        - db_data:/var/lib/mysql
  nginx:
      image: nginx:latest
      container_name: nginx
      volumes:
        - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
        - /etc/letsencrypt/live/milliaxrdreplays.com/fullchain.pem:/etc/nginx/certs/domain.cert.pem:ro
        - /etc/letsencrypt/live/milliaxrdreplays.com/privkey.pem:/etc/nginx/certs/private.key.pem:ro
        - /var/www/certbot:/var/www/certbot
      ports:
         - "80:80"
         - "443:443"
      restart: unless-stopped
      depends_on: 
        - web

volumes:
  db_data: