/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #d4d4d4;
    background-color: #1d1d29;

    min-block-size: 100vh;
    min-block-size: 100dvh;
    display: grid;
    grid-template-columns: 4.25rem 1fr;
    grid-template-rows: auto 1fr;

    grid-template-areas: 
        'header header'
        'sidebar main';

    transition: grid-template-columns 0.3s ease;
}

body.sb-expand {
    grid-template-columns: 12.5rem 1fr;
}

.dashboard-header {
    grid-area: header;
    background-color: #1d1d29;
    font-size: 3rem;
    font-weight: 700;
    padding-left: 1.25rem;
    border-bottom: 1px solid grey;
}

.dashboard-main {
    grid-area: main;
    background-color: #1f1f30;
    padding: 1.25rem;
}

.dashboard-sidebar {
    position: relative;
    grid-area: sidebar;
    background-color: #1d1d29;
    border-right: 1px solid grey;
    color: #B4B2B2;
}
.dashboard-sidebar button {
    position: absolute;
    inset: .25rem -.75rem auto auto;
    width: 1.5rem;
    aspect-ratio: 1;
    border: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.logo {
    font-size: 3rem;
}
.vertical-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-link {
    display: flex;
    background-color: #1d1d29;
    border-radius: 0.5rem;
    color: #B4B2B2;
    border: none;
    width: 2rem;
    height: 2rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 1px;
    align-items: center;
}

body.sb-expand .nav-link{
    width: 10rem;
}

.nav-link:hover{
    background-color: #323242;
}

.nav-icon {
    width: 2rem;
    height: 2rem;
}

.nav-text {
    font-size: 1.25rem;
    font-weight: 500;
    display: none;
}

body.sb-expand .nav-text {
    opacity: 1;
    padding-left: .5rem;
    display: flex;
}

.verify-btn {
    background-color: #27ae60;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.verify-btn:hover {
    background-color: #229954;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.delete-btn:hover {
    background-color: #c0392b;
}