<!DOCTYPE html>
<html land="en">
<head>
    <meta charsets="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Millia VODs</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('submit_vod') }}">Submit Vod</a>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>