<!DOCTYPE html>
<html land="en">
    <head>
        <meta charsets="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Millia VODs{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='milliabadge16.png')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}"/>
    </head>
    <body>
        <div class="dashboard-header">
            <button type="button" class="menu-toggle-button" id="menu-toggle">&#9776;</button>
            <a href="{{ url_for('main.index') }}"><img class="logo" title="Millia Badge" src="{{ url_for('static', filename='milliabadge48.png')}}"></a>
            <span class="desktop-title">Xrd Millia VODS</span>
            <span class="mobile-title">Xrd Millia</span>
        </div>
        <aside class="dashboard-sidebar">
            <button type="button" id="resize">&#9776;</button>
            <nav class="vertical-navbar">
                {% if current_user.is_authenticated %}
                    <a title="Logout" class="nav-link" href="{{ url_for('auth.logout') }}">
                        <img src="{{ url_for('static', filename='logout.svg') }}" class="nav-icon">
                        <span class="nav-text">Logout</span>
                    </a>
                    {% if current_user.is_admin %}
                        <a title="Admin" class="nav-link" href="{{ url_for('admin.unverified_vods') }}">
                            <img src="{{ url_for('static', filename='admin.svg') }}" class="nav-icon">
                            <span class="nav-text">Admin</span>
                        </a>
                    {% endif %}
                {% else %}
                    <a title="Login with Google" class="nav-link" href="{{ url_for('auth.oauth2_authorize', provider='google') }}">
                        <img src="{{ url_for('static', filename='google.svg') }}" class="nav-icon">
                        <span class="nav-text">Login</span>
                    </a>
                {% endif %}
                <a title="Index" class="nav-link" href="{{ url_for('main.index') }}">
                    <img src="{{ url_for('static', filename='home.svg') }}" class="nav-icon">
                    <span class="nav-text">Home</span>
                </a>
                <a title="Submit Vod" class="nav-link" href="{{ url_for('main.submit_vod') }}">
                    <img src="{{ url_for('static', filename='submit.svg') }}" class="nav-icon">
                    <span class="nav-text">Submit</span>
                </a>
                <a title="Buy me a coffee" class="nav-link" href="https://buymeacoffee.com/williambhey" style="position: absolute; bottom:2rem;">
                    <img class="nav-icon" src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee"/>
                    <span class="nav-text">Support</span>
                </a>
            </nav>
        </aside>
        <main class="dashboard-main">
            <div class="flash-messages">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div>
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }} flash-message">
                                    <span>{{ message }}</span>
                                    <button class="close-flash-message">&times;</button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
            {% block content %}{% endblock %}
        </main>
    <script>
        const resizeBtn = document.getElementById('resize');
        resizeBtn.addEventListener('click', function(e) {
            e.preventDefault();
            document.body.classList.toggle('sb-expand')
        });

        const menuToggleBtn = document.getElementById('menu-toggle');
        menuToggleBtn.addEventListener('click', function(e) {
            e.preventDefault();
            document.body.classList.toggle('menu-open')
        });

        const flashMessages = document.querySelectorAll('.flash-message');

        function dismissMessage(messageDiv) {
                messageDiv.style.display = 'none';
                messageDiv.addEventListener('transitionend', () => messageDiv.remove());
            }

        flashMessages.forEach(messageDiv => {
            const closeButton = messageDiv.querySelector('.close-flash-message');
            if (closeButton) {
                closeButton.addEventListener('click', () => {
                    dismissMessage(messageDiv);
                });
            }
        });
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>