{% extends "base.html" %}

{% block content %}
    <h1 class="main-header">Search Millia Matches</h1>
    <form method="POST" action="" class="search-form main-form">
    {{ form.hidden_tag() }}
    <div class="form-group pvp-group">
        <div class="text-input-group player1-group">
            {{ form.p1name.label }}
            {{ form.p1name(placeholder_="Millia Player", class="form-control") }}
            {% for error in form.p1name.errors %}
            <span class="error-message">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div class="vs-separator">VS</div>

        <div class="text-input-group player2-group">
            {{ form.p2name.label }}
            {{ form.p2name(placeholder_="Opponent Player", class="form-control") }}
            {% for error in form.p2name.errors %}
            <span class="error-message">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>
    <div class="misc-group">
        <div class="form-group text-input-group">
            {{ form.p2character.label }}
            {{ form.p2character(class="form-control") }}
            {% for error in form.p2character.errors %}
                <span class="error-message">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="checkbox-column-group">
            <div class="form-group form-group-checkbox">
                {{ form.verifiedonly(class="form-check-input") }}
                {{ form.verifiedonly.label(class="form-check-label") }}
            </div>
            {% if current_user.is_authenticated %}
                <div class="form-group form-group-checkbox">
                    {{ form.favoritedonly(class="form-check-input") }}
                    {{ form.favoritedonly.label(class="form-check-label") }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="form-group form-group-submit">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
    {% if results %}
        <ul class="results">
            {% for vod in results %}
                <li class="vod-item">
                    <div class="vod-title-row">
                        <span class="player-name player1">{{ vod.p1name }}</span>
                        <span class="vs-text">VS</span>
                        <span class="player-name player2">{{ vod.p2name }} ({{ vod.p2character }})</span>
                    </div>
                    <div class="vod-details-row">
                        <div class="vod-actions">
                        <a href="{{ vod.link }}" target="_blank" class="vod-link">Match Link</a>
                        {% if current_user.is_authenticated %}
                            <button class="favorite-toggle-btn" data-vod-id="{{ vod.id }}" 
                            data-is-favorited="{{ current_user.has_favorited(vod) }}">
                            {% if current_user.has_favorited(vod) %}
                                <img title="Unfavorite" src="{{ url_for('static', filename='pin2.svg') }}"
                                alt="Unfavorite" class="favorite-icon">
                            {% else %}
                                <img title="Favorite" src="{{ url_for('static', filename='pin1.svg') }}"
                                alt="Favorite" class="favorite-icon">
                            {% endif %}
                            </button>
                        {% endif %}
                        </div>
                        {% if vod.source %}
                            <span class="vod-source">{{ vod.source }}</span>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
         </ul>
    {% endif %}
{% endblock %}

{% block scripts %}
        {{ super() }}
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            const favoriteButtons = document.querySelectorAll('.favorite-toggle-btn');

            favoriteButtons.forEach(button => {
                button.addEventListener('click', async function() {
                    const vodId = this.dataset.vodId;
                    let isFavorited = this.dataset.isFavorited === 'True';
                    let url = '';
                    let newIconSrc = '';
                    let newAltText = '';
                    let newState = '';
                    let newTitle= '';

                    if (isFavorited) {
                        url = `/unfavorite/${vodId}`;
                        newIconSrc = "{{ url_for('static', filename='pin1.svg') }}";
                        newAltText = 'Favorite';
                        newState = 'False';
                        newTitle = 'Favorite'
                    } else {
                        url = `/favorite/${vodId}`;
                        newIconSrc = "{{ url_for('static', filename='pin2.svg') }}";
                        newAltText = 'Unfavorite';
                        newState = 'True';
                        newTitle = 'Unfavorite'
                    }

                    try {
                        const response = await fetch(url, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        });

                        const data = await response.json();

                        if (response.ok) {
                            const iconImg = this.querySelector('.favorite-icon');
                            iconImg.src = newIconSrc;
                            iconImg.alt = newAltText;
                            iconImg.title = newTitle
                            this.dataset.isFavorited = newState;
                        }
                    } catch (error) {
                        console.error('Network error:', error);
                    }
                });
            });
        });
    </script>
{% endblock %}