{% extends "base.html" %}

{% block content %}
    <h1>Submit Millia Match</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.p1name.label }}
            {{ form.p1name }}<br>
            {% for error in form.p1name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.p2name.label }}
            {{ form.p2name }}<br>
            {% for error in form.p2name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.p2character.label }}
            {{ form.p2character }}<br>
            {% for error in form.p2character.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.link.label }}
            {{ form.link }}<br>
            {% for error in form.link.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.source.label }}
            {{ form.source }}<br>
            {% for error in form.source.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}